/* .App {
  text-align: center;
}

.button_cont{
  display: flex;
  padding: 12px;
}

.btn{
  padding: 6px;
  font-size: 22px;
  border: none;
  margin-left: 20px;
}

.btn:hover{
  border-bottom:  2px solid green;
  background-color: grey;
  color: white;
  cursor: pointer;
}

.Box_Container{
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
}

.Box_Container_1{
  border: 2px solid red;
  width: 20%;
  height: 12pc;
  
}

.Box_Container_2{
  border: 2px solid blue;
  width: 20%;
  height: 12pc;
} */




